{% macro render(node, depth=1) -%}
{{ "#" * depth }} {{ node['label'] }}  

{% if node['photos'] %}
  {% for photo in node['photos'] %}
![{{ node["label"] }}. Foto: {{ photo["creator"] }}]({{ photo["url"] }}){group="photos"}

  {% endfor %}
{% endif %}

{% if node["id"] %}
Wikibase: [{{ node["label"] }}]({{ node["id"] }}) ({{ node["type"] }})
{% endif %}

---

{% if node['children'] %}
  {% for child in node['children'] %}
{{ render(child, depth + 1) }}
  {% endfor %}
{% endif %}
{%- endmacro %}

{{ render(rs["tree"]) }}