# Liste (Schloss): {{ rs["castle_label"] }}

{% macro render_node(node, depth=2) %}
{{ "#" * depth }} {{ node.label }}\index{ {{ node.label }} }

Wikibase-Eintrag: [{{ node.label }}]({{ node.id }})

{% if node.photo %}
![Photo: {{ node.creator }}]({{ node.photo }}){group='room-gallery'}
{% endif %}

{% for child in node.children %}
{{ render_node(child, depth + 1) }}
{% endfor %}
{% endmacro %}

{% for root in rs["tree"] %}
{{ render_node(root) }}

\newpage
{% endfor %}
