# Ausstellung: {{ rs["bindings"][0]["castleLabel"] }}
{% for row in rs["bindings"] %}

![{{ row["itemLabel"] }}. Foto: {{ row["creator"] }}]({{ row["photo"] }}){group="photos"}

\newpage
{% endfor %}
