# {{ rs["bindings"][0]["itemLabel"] }}

Wikibase-Eintrag: [ {{ rs["bindings"][0]["itemLabel"] }}]({{ rs["bindings"][0]["item"] }})

Adresse: {{ rs["bindings"][0]["address"] }}

![{{ rs["bindings"][0]["itemLabel"] }}. Foto: {{ rs["bindings"][0]["creator"] }}]({{ rs["bindings"][0]["photo"] }}){group="photos"}

\newpage
